{% extends "shop_page.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head %}
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% endif %}

<form class="form" style="height: 600px;" method="POST" action="{% url 'account_login' %}">
    <h2 class="login-title" style="margin-left: 35%">Вход</h2>
  {% csrf_token %}
  {% for field in form %}
    <h5 class="login-title">{{ field.label }}</h5> {{ field }}
  {% endfor %}

  <a class="button secondaryAction login-title" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Войти" %}</button>
    <a href="{{ signup_url }}" class="login-title" style="margin-top: 10%;">Регистрация</a>
</form>

{% endblock %}