{% extends "shop_page.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head %}
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <form method="POST" style="height: 500px;" action="{% url 'account_reset_password' %}" class="password_reset form">
        <h1 class="login-title">{% trans "Восстановление пароля" %}</h1>
        <p class="login-title">{% trans "Для восстановления пароля введите свой E-mail. Мы отправим вам письмо для смены пароля." %}</p>
        {% csrf_token %}
        {% for field in form %}
            <h5 class="login-title">{{ field.label }}</h5> {{ field }}
        {% endfor %}

        <input type="submit" style="margin-top: 10%;" value="{% trans 'Восстановить пароль' %}" />
    </form>
{% endblock %}